#form {
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    font-family: "Calibri";
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;    
}

input {
    padding: 5px;
    font-family: "Calibri";
    font-size: 15px;
    width: 50em;
}

#salutations {
    width: 25em;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
}

#email {
    border: 2px black solid;
    border-radius: 20px;
    padding: 20px;
    font-family: "Georgia";
    font-size: 16;
}

h1 {
    font-family: "Calibri";
    font-size: 48;
    text-align: center;
}

body {
    background-color: aliceblue;
}

#instructions {
    font-family: "Calibri";
    width: 50vmax;
    text-align: center;
}

.image {
    width: 50em;
    margin: 0 20vmax;
}