#form {
  background-color: lightgray;
  width: 50em;
  padding: 10px;
  margin: 10px;
  font-family: "Calibri";
}

input {
  font-family: "Calibri";
  font-size: 15px;
  width: 50em;
}

#salutations {
  width: 25em;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#email {
  border: 2px black solid;
  padding: 25px;
  font-family: "Georgia";
  font-size: 11;
}